*{ margin: 0; padding: 0; }
body{background-image: url(../img/wallpapers/login.jpg);
	background-size: cover;
	background-position: fixed;
	background-repeat: no-repeat;
}




.header{
	display: block;
	background-color: maroon;
}
.header h1, h4{
	padding: 10px;
	color: white;
}




/*------*/





nav ul{
	list-style-type: none;
}
nav ul li a{
	text-decoration: none;
}




/*------*/





.





/*----------*/





.middle-container{
	
}




/*.nav {
	font-family: Oswald;
  height: 100%;
  width: 160px;
  float: left;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.6);
  overflow-x: hidden;
  padding-top: 20px;
}

.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.nav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav *//*
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}*/





.nav {
  font-family: Oswald;
  width: 200px;
  overflow: auto;
  float: left;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 10px;
  background-color: rgb(0,0,0,0.6);
  overflow-x: hidden;
  padding: 8px 0;
}

.nav a {
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  color: white;
  display: block;
}

.nav a:hover {
  color: gold;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}




/*------*/





.main{
	background-color: rgb(252,252,252,0.6);
	float: right;
	width: 76%;
	border: none;
	border-radius: 10px;
	padding: 40px;
	margin: 20px;
}





/*------*/





input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
textarea{
	min-height: 220px;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}